{% extends 'index/base.html' %}
{% block title %}
哑变量重编码
{% endblock %}
{% block choice %}
<!-- 引入单选框 -->
<link rel="stylesheet" id="css-s_border" href="{{ static('index/css/ss_border.css') }}"/>
{% endblock %}
{% block top_link %}
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_header.css') }}" />
{% endblock %}
{% block top_style %}
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_common.css') }}" />
{% block bottom %}
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/all-common.css') }}" />
{% endblock %}
<style>
    /* 多选框 */
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        cursor: pointer;
        position: relative;
    }
    #z-nav>li>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav>li>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
        width: 107px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #z-nav:nth-child(2)>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #header-navbar-collapse {
        position: relative;
    }
    #rightmodel>h1 {
        text-align: center;
        font-size: 24px;
    }
    .app-layout-canvas,
    .app-layout-container {
        height: 100%;
        width: 100%;
    }
    .select-input {
        text-align: center;
        margin-top: 35px;
    }
    .click-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 7%;
        padding-bottom: 10px;
        width: 100%;
    }
    .finnally-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 3%;
        width: 100%;
    }
    .opacity {
        opacity: 0.2;
    }
    /* 原始分类数数据 */
    #front {
        font-size: 20px;
        text-align: center;
        color: #009688;
    }
    /* 结果分类数据 */
    #fronts {
        font-size: 20px;
        text-align: center;
        color: #009688;
    }
    /* 原始分类数数据 */
    #original {
        font-size: 20px;
        text-align: center;
        color: #009688;
    }
    /* 结果分类数据 */
    #originals {
        font-size: 20px;
        text-align: center;
        color: #009688;
    }
    .select-transfer{
        margin-top: 25px;
        padding-left: 18px;
    }
</style>
{% endblock %}
{% block main %}
<!-- End header -->
<main class="app-layout-content">
<div id="rightmodel">
	<h1>变量选择</h1>
    <input type="hidden" name="dummies_recoding" value="">
{% endblock %}
{% block main03 %}
{% endblock %}
{% block main04 %}
<div id="middle-table">
{% endblock %}
{% block description %}哑变量重编码：又称虚拟变量、名义变量，该方法可对所选的变量进行哑变量重编码，以性别为例，原始变量为'男'、'女'，转化后将变成取值为1和0的两个哑变量。 模型中引入哑变量的作用： 1、分离异常因素的影响 2、检验不同属性类型对因变量的作用 3、提高模型的精度，相当于将不同属性的样本合并，扩大了样本容量（增加了误差自由度，从而降低了误差方差）{% endblock %}
{% block main02 %}
</div>
</main>
{% endblock %}
{% block center_script %}
{% endblock %}
{% block js_center %}
<script src="{{ static('index/js/core/jquery.min.js') }}"></script>
<script src="{{ static('index/js/core/bootstrap.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.slimscroll.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.scrollLock.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.placeholder.min.js') }}"></script>
<!--图标调用-->
<script src="{{ static('./js/iconfot.js') }}"></script>
<script src="{{ static('index/js/app.js') }}"></script>
<script src="{{ static('index/js/app-custom.js') }}"></script>
<!-- Page Plugins -->
<script src="{{ static('index/js/plugins/slick/slick.min.js') }}"></script>
<script src="{{ static('index/js/plugins/chartjs/Chart.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<!-- Page JS Code -->
<script src="{{ static('index/layui/layui/layui.js') }}" media="all"></script>
{% endblock %}
{% block bottom_script %}
<script>
        $(function () {
            App.initHelpers('slick');
        });
    </script>
{% endblock %}
