{% extends 'index/base.html' %}

{% block title %}

非数值异常

{% endblock %}

{% block top_link %}

<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_header.css') }}" />

{% endblock %}

{% block top_style %}

<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_common.css') }}" />

<style>

    #miss_inputs {

        width: 135px;

        height: 38px;

        border-radius: 20px;

        border: transparent;

        margin-top: 80px;

        margin-left: 158px;

        text-indent: 2em;

    }

    /* 多选框 */

    * {

        padding: 0;

        margin: 0;

    }

    li {

        list-style: none;

        cursor: pointer;

        position: relative;

    }

    .selection-container {

        margin-top: 52px;

        margin-left: 37px;

        height: 350px;

    }

    .select-box {

        height: 200px;

        overflow: scroll;

        width: 160px;

        float: left;

        background: #ffff;

        border: 1px solid #ebeef5;

        border-radius: 4px;

    }

    #select-box_right {

        margin-left: 62px;

        overflow: hidden;

        width: 160px;

        float: left;

        background: #ffff;

        border: 1px solid #ebeef5;

        border-radius: 4px;

    }

    .arrows-box {

        /* float: left; */

        position: relative;

        left: -2px;

    }

    .select-content {

        width: 100%;

    }

    .select-box-title {

        height: 40px;

        line-height: 40px;

        font-size: 16px;

        font-family: "微软雅黑";

        padding: 0 6%;

        display: flex;

        align-items: center;

        position: relative;

        width: 100%;

        background: #ffffff;

        border-bottom: 1px solid #ebeef5;

        box-sizing: border-box;

        color: #000;

    }

    .select-box-title label:before {

        left: -14px !important;

        top: 4px !important;

    }

    .select-box-title label:after {

        left: -10px !important;

        top: 5px !important;

    }

    .checkboxs {

        vertical-align: middle;

    }

    .unselect-ul {

        padding: 10px 0;

    }

    .selected-ul {

        padding: 10px 0;

    }

    .select-content li {

        padding: 5px 15px;

        font-size: 12px;

        font-family: "微软雅黑";

    }

    .select-box input[type='checkbox'] {

        position: absolute;

        left: 13px;

        top: 3px;

        width: 20px;

        height: 20px;

        opacity: 0;

    }

    .select-box label {

        position: absolute;

        left: 30px;

        top: 9px;

        height: 20px;

        line-height: 20px;

    }

    .select-box span {

        color: #767370;

        padding-left: 20px;

        font-size: 14px;

    }

    .select-box label:before {

        content: '';

        position: absolute;

        left: -18px;

        top: -3px;

        width: 16px;

        height: 15px;

        border: 1px solid #ddd;

        border-radius: 1px;

        transition: all 0.3s ease;

        -webkit-transition: all 0.3s ease;

        -moz-transition: all 0.3s ease;

    }

    .select-box label:after {

        content: '';

        position: absolute;

        left: -10px;

        top: -2px;

        width: 4px;

        height: 8px;

        border: 0;

        border-right: 1px solid #fff;

        border-bottom: 1px solid #fff;

        background: #fff;

        transform: rotate(45deg);

        -webkit-transform: rotate(45deg);

        -moz-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

        transition: all 0.3s ease;

        -webkit-transition: all 0.3s ease;

        -moz-transition: all 0.3s ease;

    }

    .select-box input[type='checkbox']:checked+label:before {

        background: #00A0E8;

        border-color: #00A0E8;

    }

    .select-box input[type='checkbox']:checked+label:after {

        background: #00A0E8;

    }

    .arrow-btns {

        width: 80px;

        position: absolute;

        left: 149px;

        top: 79px;

    }

    .btn-cursor {

        background-color: #409eff !important;

        border: 1px solid #409EFF !important;

        transition: all 0.3s ease;

        -webkit-transition: all 0.3s ease;

        -moz-transition: all 0.3s ease;

    }

    .btn-cursor svg {

        fill: #fff !important;

        transition: all 0.3s ease;

        -webkit-transition: all 0.3s ease;

        -moz-transition: all 0.3s ease;

    }


    .arrow-btn {

        display: block;

        position: relative;

        width: 47px;

        height: 30px;

        /* border-radius: 25px; */

        background: #eee;

        margin: 0 auto 5px;

        cursor: pointer;

        border: 1px solid #dcdfe6;

        background-color: #fbfbfb;

        color: #c0c4cc;

        outline: none;

    }

    .arrow-btn svg {

        /* padding: 11px; */

        width: 17px;

        height: 17px;

        color: white;

        fill: #C0C4CC;

    }


   
    #z-nav>li>ul.nav-subnav {

        /*display: flex;*/

        font-size: 0;

        text-align: center;

    }

    #z-nav>li>ul.nav-subnav li {

        width: 48%;

        display: inline-block;

        text-align: center;

    }

    #z-nav>li>ul.nav-subnav li:hover a {

        background: #03a9f4;

        color: #fff;

        border: 1px solid #03a9f4;

    }

    #z-nav>li>ul.nav-subnav li a {

        padding: 6px 8px;

        box-sizing: border-box;

        font-size: 12px;

        border: 1px solid #ccc;

        margin: 0 5px 12px;

        border-radius: 10px;

        width: 107px;

        overflow: hidden;

        text-overflow: ellipsis;

        white-space: nowrap;

    }

    #z-nav:nth-child(2)>ul.nav-subnav {

        /*display: flex;*/

        font-size: 0;

        text-align: center;

    }

    #z-nav:nth-child(2)>ul.nav-subnav li {

        width: 48%;

        display: inline-block;

        text-align: center;

    }

    #z-nav:nth-child(2)>ul.nav-subnav li:hover a {

        background: #03a9f4;

        color: #fff;

        border: 1px solid #03a9f4;

    }

    #z-nav:nth-child(2)>ul.nav-subnav li a {

        padding: 6px 8px;

        box-sizing: border-box;

        font-size: 12px;

        border: 1px solid #ccc;

        margin: 0 5px 12px;

        border-radius: 10px;

    }

    #header-navbar-collapse {

        position: relative;

    }

    #header-navbar-collapse>.help-control {

        position: absolute;

        top: 50%;

        transform: translateY(-50%);

        right: 20%;

        color: #333333;

    }

    #header-navbar-collapse>.index {

        position: absolute;

        top: 50%;

        transform: translateY(-50%);

        right: 35%;

        color: #333333;

    }

    

    #rightmodel>h1 {

        text-align: center;

        font-size: 24px;

    }

    #rightmodel>.begin-button {

        position: absolute;

        bottom: 5%;

        left: 50%;

        transform: translateX(-50%);

    }

    .select-options {

        margin-top: 24px;

    }

    .select-options form {

        width: 100%;

        height: 100%;

    }

    .select-options form .select-input:first-child {

        margin-top: 0;

    }

    .select-options form .select-input {

        display: flex;

        justify-content: space-between;

        align-items: center;

        margin-top: 15px;

        padding: 0 20px;

    }

    .select-options form .select-input span {

        font-size: 14px;

    }

    .select-options form .select-input select {

        width: 107px;

        height: 22px;

        cursor: pointer;

        font-size: 14px;

    }

    .select-options form .select-input input[type='text'] {

        outline: none;

        display: block;

        width: 107px;

        height: 25px;

        font-size: 14px;

    }

    .navbar-default>.left-aside {

        float: left;

        margin-left: 10px;

        width: 34%;

    }

    .navbar-default>.container-fluid {

        width: 58%;

        float: right;

    }

    .navbar-default>.left-aside .upload {

        position: relative;

        padding: 4px 22px;

        border: 1px solid #999;

        text-decoration: none;

        color: #666;

        display: inline-block;

        margin-top: 18px;

        font-size: 14px;

        cursor: pointer;

    }

    .navbar-default>.left-aside .upload>.change {

        position: absolute;

        overflow: hidden;

        right: 0;

        top: 0;

        opacity: 0;

        cursor: pointer;

    }


    .app-layout-canvas,

    .app-layout-container {

        height: 100%;

    }

    #middle-table>.accrow {

        margin-left: 29px;

        font-size: 32px;

    }

    .select-input {

        text-align: center;

        margin-top: -50px;

    }

    .select-options form .select-input #password {

        margin-left: 52px;

    }

    .select-options form .select-input #phone {

        margin-left: 52px;

    }

    .click-button {

        margin-top: 24px;

        text-align: center;

        position: absolute;

        bottom: 10%;

        left: 26%;

    }

    .finnally-button {

        margin-top: 24px;

        text-align: center;

        position: absolute;

        bottom: 5%;

        left: 29%;

    }

    .opacity {

        opacity: 0.2;

    }

    /* 原始分类数数据 */

    #front {

        font-size: 20px;

        text-align: center;

        color: #009688;

    }

    /* 结果分类数据 */

    #fronts {

        font-size: 20px;

        text-align: center;

        color: #009688;

    }

    /* 原始分类数数据 */

    #original {

        font-size: 20px;

        text-align: center;

        color: #009688;

    }

    /* 结果分类数据 */

    #originals {

        font-size: 20px;

        text-align: center;

        color: #009688;

    }

</style>

{% endblock %}

{% block main %}

<!-- End header -->

<main class="app-layout-content">

<div id="rightmodel">

	<h1>变量选择</h1>

	<div class="select-options">

		<form action="" method="post">

			<!-- 缺失率 -->

			<!--

    <div class="select-input">

			<span>缺失率(精确到一位小数)</span>

			<input type="text" maxlength="20" name="" id="username" placeholder="">

		</div>

		 -->

		<!-- 缺失的行和列 -->

		<!-- <div class="select-input">

		<span>选择要缺失的行和列</span>

		<select name="" id="s1">

			<option value="1" selected>行</option>

			<option value="0">列</option>

		</select>

	</div>

	 -->

</form>

</div>

            {{ csrf_input }}

<div class="click-button">

<button type="button" class="layui-btn layui-btn-normal layui-btn-radius">

<a href="{{ url('upload:numerical',kwargs={"project_id": project_id,"data_id":0}) }}" style="color:white">原始的数据</a>

</button>

<button type="button" class="layui-btn layui-btn-normal layui-btn-radius">

<a href="{{ url('upload:numerical',kwargs={"project_id": project_id,"data_id":1}) }}">处理的数据</a>

</button>

</div>

<!-- 开始分析 -->

<div class="finnally-button">

<button type="button" class="layui-btn layui-btn-danger layui-btn-radius" onclick="login()" id="u_f" name="{{ project_id }}">开始分析

</button>

<button type="button" class="layui-btn layui-btn-danger layui-btn-radius" id="save-jg" onclick="f_save()">结果保存

</button>

</div>

<!-- <div class="kuang"> 多选框 -->

<div class="selection-container">

<div class="select-box left">

	<div class="select-box-title">

		<input type="checkbox" class="checkbox-all" id="checkbox-all1"/>

		<!-- <label for="checkbox-all1"></label> -->

		<span>全部列名</span>

	</div>

	<div class="select-content">

		<ul class="unselect-ul">

                            {% for x in data %}

			<li>

			<input type="checkbox" class="checkboxs" id="tyue-checkbox-blue1"/>

			<label for="tyue-checkbox-blue1"></label>

			<span>{{ x }}</span>

			</li>

                            {% endfor %}

		</ul>

	</div>

</div>

<div class="arrows-box">

	<div class="arrow-btns">

		<button class="arrow-btn right">

		<svg class="icon icon-seach" aria-hidden="true">

		<use xlink:href="#icon-com-dajiantouyou"></use>

		</svg>

		</button>

		<button class="arrow-btn left">

		<svg class="icon icon-seach" aria-hidden="true">

		<use xlink:href="#icon-com-dajiantouzuo"></use>

		</svg>

		</button>

	</div>

</div>

<div class="select-box right" id="select-box_right">

	<div class="select-box-title">

		<input type="checkbox" class="checkbox-all" id="checkbox-all2"/>

		<!-- <label for="checkbox-all2"></label> -->

		<span>分析列名</span>

	</div>

	<div class="select-content">

		<ul class="selected-ul">

			<!-- <p>无数据

		</p>

		 -->

	</ul>

</div>

</div>

<!-- </div> -->

</div>

<!-- 下拉框 -->

<div class="select-input">

<span>选择填补方法</span>&nbsp;&nbsp;&nbsp;

<select name="" id="s1" onchange="gradeChange()">

<option value="median" selected>中位数填补</option>

<option value="mean">均值填补</option>

<option value="most_frequent">众数填补</option>

<option value="zero ">零值填补</option>

<option value="nan">空值</option>

</select>

</div>

</div>

<div id="middle-table">

<!-- 表格一 -->

<div class="table-left">

<p id="front">

</p>

<div class="table-iu">

<table class="layui-hide" id="demo">

</table>

</div>

</div>

<!-- 表格二 -->

<div class="table-left1">

<p id="fronts">

</p>

<div class="table-iu">

<table class="layui-hide" id="demos">

</table>

</div>

</div>

<!-- 表格三 -->

<div class="table-right" id="table-right">

<p id="original">

</p>

<table class="layui-hide" id="demo1">

</table>

</div>

<!-- 表格四 -->

<div class="table-right1" id="table-right1">

<p id="originals">

</p>

<table class="layui-hide" id="demo2">

</table>

</div>

</div>

</main>

{% endblock %}

{% block center_script %}

<!-- 点击下拉弹出 input -->

<script>

        // change 事件  不可以使用 点击 事件 会触发两次点击

        function gradeChange() {

            // 获取 select

            var Si = document.getElementById("s1")

            // 获取 option

            let option = document.querySelectorAll("#s1 > option");

            // 获取当前选中的 option 的value 值的索引

            var index = Si.selectedIndex;

            // // 判断 select 的option 的index索引

            // if (Si.options[index].getAttribute('grade') == "gradeThree") {

            //     // 判断 成功后 弹出一个 input 没有的话

            //     if ($("#inputDiv>input").length == 0) {

            //         // 弹出输入框

            //         $("#inputDiv").html('<input id="miss_inputs" placeholder="请输入小数字"></input>')

            //     } else {

            //         // 显示

            //         $("#inputDiv").show()

            //     }

            // } else if (Si.options[index].getAttribute('grade') != "gradeThree") {

            //     // 弹框隐藏

            //     $("#inputDiv").hide();

            // }

        }

    </script>

{% endblock %}

{% block js_center %}

<script src="{{ static('index/js/core/jquery.min.js') }}"></script>

<script src="{{ static('index/js/core/bootstrap.min.js') }}"></script>

<script src="{{ static('index/js/core/jquery.slimscroll.min.js') }}"></script>

<script src="{{ static('index/js/core/jquery.scrollLock.min.js') }}"></script>

<script src="{{ static('index/js/core/jquery.placeholder.min.js') }}"></script>

<!--穿梭框方法-->

<script src="{{ static('./js/index2.js') }}"></script>

<!--图标调用-->

<script src="{{ static('./js/iconfot.js') }}"></script>

<script src="{{ static('index/js/app.js') }}"></script>

<script src="{{ static('index/js/app-custom.js') }}"></script>

<!-- Page Plugins -->

<script src="{{ static('index/js/plugins/slick/slick.min.js') }}"></script>

<script src="{{ static('index/js/plugins/chartjs/Chart.min.js') }}"></script>

<script src="{{ static('index/js/plugins/flot/jquery.flot.min.js') }}"></script>

<script src="{{ static('index/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>

<script src="{{ static('index/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>

<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>

<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>

<!-- Page JS Code -->

<script src="{{ static('index/layui/layui/layui.js') }}" media="all"></script>

{% endblock %}

{% block bottom_script %}

<script>

        $(function () {

            App.initHelpers('slick');

        });

    </script>

<script type="text/javascript">

        // 第一个表格数据

        // 行

        var col = new Array();

        // data数据

        var all = new Array();

        // 第三个个表格 结果数据

        // 行

        var resultCol = new Array();

        // // data数据

        var resultAll = new Array();

        // 第二个表格数据

        // 行

        var beforeCol = new Array();

        // data数据

        var beforeAll = new Array();

        // 第四个表格数据 结果

        // 行

        var afterCol = new Array();

        // data 数据

        var afterAll = new Array();

        function login() {

            var arr = [];

            var spanText;

            // var options = $("#s1 option:selected").val();//获取当前选择项.

            // // 获取缺乏率

            var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

            var project_id = $('#u_f').attr('name');

            var buttonNumber = $('.click-button').find('.opacity').index();

            // 多选

            for (var i = 0; i < $("#select-box_right .select-content .selected-ul li").length; i++) {

                spanText = $("#select-box_right .select-content .selected-ul li").eq(i).find('span').text();

                arr.push(spanText);

            }

            // alert(spanText)

            // alert(arr)

            // 获取 下拉的值

            var Select = $("#s1").find("option:selected").val();

            // alert(22222222222)

            // console.log(Select)

            var param = {

                'csrfmiddlewaretoken': csrfmiddlewaretoken,

                'number': buttonNumber,

                'features': arr,

                'method': Select

            };

            $.ajax({

                url: '/non_numerical_value_process/' + project_id + '/'+ buttonNumber + '/',

                type: "POST",

                dataType: 'json',

                contentType: "application/json",

                cache: false,

                headers: {

                    'X-CSRFToken': csrfmiddlewaretoken

                },

                data: JSON.stringify(param),

                success: function (data) {

                    if (data.code == 200) {

                        alert(data.error);

                        // 打印数据

                        console.dir(data);

                        var dataText = data.context;

                        // input_o_desc 表格数据

                        var input_o_descText = dataText.input_o_desc;

                        // result_o_descText  结果数据

                        var result_o_descText = dataText.result_o_desc;

                        // beforeText 表格数据

                        var beforeText = dataText.before;

                        // afterText  结果数据

                        var afterText = dataText.after;

                        // 判断 表格里的 对象数据是否为空

                        if (JSON.stringify(input_o_descText) != "{}") {

                            // input_o_desc 获取数据  行

                            for (var i = 0; i < input_o_descText.Listing.length; i++) {

                                col.push({

                                    field: input_o_descText.Listing[i].field,

                                    title: input_o_descText.Listing[i].title,

                                    minWidth: 100

                                })

                            }

                            // input_o_desc 获取数据  data 表格数据

                            for (var i = 0; i < input_o_descText.info.length; i++) {

                                all.push({

                                    "name": input_o_descText.info[i].name,

                                    "count": input_o_descText.info[i].count,

                                    "categorical": input_o_descText.info[i].categorical,

                                    "highest": input_o_descText.info[i].highest,

                                    "frequency": input_o_descText.info[i].frequency

                                })

                            }

                        }

                        if (JSON.stringify(result_o_descText) != "{}") {

                            // result_o_descText 获取数据  行

                            for (var i = 0; i < result_o_descText.Listing.length; i++) {

                                resultCol.push({

                                    field: result_o_descText.Listing[i].field,

                                    title: result_o_descText.Listing[i].title,

                                    minWidth: 100

                                })

                            }

                            // result_o_descText 获取数据  data 表格数据

                            for (var i = 0; i < result_o_descText.info.length; i++) {

                                resultAll.push({

                                    "name": result_o_descText.info[i].name,

                                    "count": result_o_descText.info[i].count,

                                    "categorical": result_o_descText.info[i].categorical,

                                    "highest": result_o_descText.info[i].highest,

                                    "frequency": input_o_descText.info[i].frequency

                                })

                            }

                        }

                        if (JSON.stringify(beforeText) != "{}") {

                            // beforeText 表格数据 行

                            for (var i = 0; i < beforeText.Listing.length; i++) {

                                beforeCol.push({

                                    field: beforeText.Listing[i].field,

                                    title: beforeText.Listing[i].title,

                                    minWidth: 100

                                })

                            }

                            // beforeText 表格数据 数据

                            for (var i = 0; i < beforeText.info.length; i++) {

                                beforeAll.push({

                                    "name": beforeText.info[i].name,

                                    "count": beforeText.info[i].count,

                                    "unique": beforeText.info[i].unique,

                                    "top": beforeText.info[i].top,

                                    "freq": beforeText.info[i].freq

                                })

                            }

                        }

                        if (JSON.stringify(afterText) != "{}") {

                            // afterText 表格数据 行

                            for (var i = 0; i < afterText.Listing.length; i++) {

                                afterCol.push({

                                    field: afterText.Listing[i].field,

                                    title: afterText.Listing[i].title,

                                    minWidth: 100

                                })

                            }

                            // afterText 表格数据 数据

                            for (var i = 0; i < afterText.info.length; i++) {

                                afterAll.push({

                                    "name": afterText.info[i].name,

                                    "count": afterText.info[i].count,

                                    "unique": afterText.info[i].unique,

                                    "top": afterText.info[i].top,

                                    "freq": afterText.info[i].freq

                                })

                            }

                        }

                        // 一表

                        layui.use('table', function () {

                            var table = layui.table;

                            table.render({

                                elem: '#demo'

                                , cols: [col]

                                , data: all,

                                even: true,

                                page: true,

                                limits: [16, 20],

                                limit: 20,

                                height: 320

                            });

                        });

                        // 二表

                        layui.use('table', function () {

                            var table = layui.table;

                            table.render({

                                elem: '#demos'

                                , cols: [resultCol]

                                , data: resultAll,

                                even: true,

                                page: true,

                                limits: [16, 20],

                                limit: 20,

                                height: 320

                            });

                        });

                        // 三表

                        layui.use('table', function () {

                            var table = layui.table;

                            table.render({

                                elem: '#demo1'

                                , cols: [beforeCol]

                                , data: beforeAll,

                                skin: 'line',

                                even: true,

                                page: true,

                                limits: [16, 20],

                                limit: 20,

                                height: 320

                            });

                        });

                        // 四表

                        layui.use('table', function () {

                            var table = layui.table;

                            table.render({

                                elem: '#demo2'

                                , cols: [afterCol]

                                , data: afterAll,

                                skin: 'line',

                                even: true,

                                page: true,

                                limits: [16, 20],

                                limit: 20,

                                height: 320

                            });

                        });

                        $('.table-html').hide();

                        // 原始分类数据描述

                        $("#front").html("原始分类数据描述")

                        // 结果计量数据描述

                        $("#fronts").html("结果分类数据描述")

                        // 结果分类数据描述

                        $("#original").html("原始计量数据描述")

                        // 原始计量数据描述

                        $("#originals").html("结果计量数据描述")

                        $('#save-jg').attr('name', data.context.project)

                    } else if (data.code == 1002) {

                        alert(data.error);

                    } else {

                        alert(data.error);

                    }

                }, error: function (errorMsg) {

                    //请求失败之后进入该方法，errorMsg为失败后返回的错误信息

                }

            });

            // 点击开始分析后 清空input

            document.getElementById("balanceInput").value = ""

        }

        // 结果保存

        function f_save() {

            var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();

            var project_id = $('#save-jg').attr('name');

            var param = {

                'project': project_id,

                'csrfmiddlewaretoken': csrfmiddlewaretoken,

            };

            $.ajax({

                url: '/save_data/',

                type: "POST",

                dataType: 'json',

                contentType: "application/json",

                cache: false,

                headers: {

                    'X-CSRFToken': csrfmiddlewaretoken

                },

                data: JSON.stringify(param),

                success: function (data) {

                    alert(data.error);

                }, error: function (errorMsg) {

                    //请求失败之后进入该方法，errorMsg为失败后返回的错误信息

                    console.log(errorMsg)

                }

            });

        }

        $(document).ready(function () {

            $('.click-button .layui-btn-radius').eq(0).addClass('opacity');

        })

        // 原始的数据 处理的数据

        $('.click-button').find('button').click(function () {

            $(this).addClass('opacity').siblings().removeClass('opacity');

        })

    </script>

{% endblock %}

