{% extends 'index/base.html' %}
{% block title %}
平滑曲线拟合分析
{% endblock %}
{% block top_link %}
<link rel="stylesheet" id="css-app-custom" href="{{ static('index/css/s_border.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_header.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_common.css') }}" />
{% endblock %}
{% block top_style %}
<style>
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        cursor: pointer;
        position: relative;
    }
    #z-nav>li>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav>li>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #z-nav:nth-child(2)>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #header-navbar-collapse {
        position: relative;
    }
    #rightmodel>h1 {
        text-align: center;
        font-size: 24px;
    }
    .click-button {
        margin-top: 24px;
        text-align: center;
        padding-bottom: 10px;
        width: 100%;
    }
    .finnally-button {
        text-align: center;
        width: 100%;
    }
    .app-layout-canvas,
    .app-layout-container {
        height: 100%;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .opacity {
        opacity: 0.2;
    }
    /* 高级分析 */
    .gj-checkout {
        width: 100%;
        margin: 61px 64px;
        box-shadow: 0px 3px 20px 0px rgba(183, 182, 182, 0.6);
        padding: 25px;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
    }
    .gj-checkout img{
        height: auto;
        max-width: 100%;
        display: block;
    }
    #middle-table{
        float: none;
        display: block;
    }
    #middle-table .table-common{
        width: 100%;
        margin: 30px 64px 30px 64px;
    }
    @media screen and (max-width:1400px) {
        .table-iu .table-common-tr tr>td{
            width: 54px;
        }
    }
     #rightmodel{
        padding-top: 10px;
        /* position: relative; */
        float: right;
        /* height: auto; */
        padding-bottom: 30px;
    }
    .transfer-box{
        margin-top: 15px;
    }
    .select-options{
        text-align: center;
        margin-top: 10px;
    }
    .select-options span{
        color: #333333;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
        margin-right: 5px;
    }
    .select-options select{
        width: 200px;
        height: 35px;
        outline: none;
        border: 1px solid #dddd;
        text-indent: 1em;
    }
    .select-options input{
        width: 200px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        text-indent: 1em;
        background-color: #fff;
    }
    .input_aa{
    width:100px;
    height: 30px;
    outline: none;
    border: 1px solid #dddd;
    text-indent: 1em;
    /*margin-left: 156px;*/
    margin-top: 10px;
    }
</style>
{% endblock %}
{% block main %}
<main class="app-layout-content">
    <div id="rightmodel">
        <h1>选择要分析的列名</h1>
        
    {% endblock %}
    
    {% block main03 %}

    <!-- <div class="select-options">
        <span>小数位：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <select name="back_number" id="back_number">
            <option value="{0:.3f}">0.001</option>
            <option value="{0:.1f}">0.1</option>
            <option value="{0:.2f}">0.01</option>
        </select>
    </div>
    <div class="select-options">
        <span>请输入数字以逗号隔开:</span>
        <input type="text" placeholder="请输入数字以逗号隔开" id="phqx_input" onkeyup="value=value.replace(/[^\0-9\.]/g,'')">
    </div> -->

    <div class="clones" style="margin-top: 22px;text-align: center;">
        <span>折点：</span>
        <input type="text" class="input_aa">
        <i class="fa fa-plus adddd" aria-hidden="true"></i>
        <i class="fa fa-minus sub" aria-hidden="true"></i>
    </div>

    <input type="hidden" name="phqx" value="">
    <!-- 分析成功 -->
    {% endblock %}
    {% block main04 %}
    <div id="middle-table">
    {% endblock %}
    {% block description %}
平滑曲线分析：分析自变量X与应变Y之间的非线性关系，绘制多个模型拟合图 1：广义相加模型(GAM); 2：多项式回归模型（n=3）3:折点分段线性拟合模型，同时模型会绘制总体以及不同折点分组下的OR值以及OR森林图。折点分组下的OR值以及OR森林图。
    {% endblock %}
    {% block mian02 %}
    </div>
</main>
{% endblock %}
{% block js_center %}
<script src="{{ static('index/js/core/jquery.min.js') }}"></script>
<script src="{{ static('index/js/core/bootstrap.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.slimscroll.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.scrollLock.min.js') }}"></script>
<!--图标调用-->
<script src="{{ static('./js/iconfot.js') }}"></script>
<script src="{{ static('index/js/core/jquery.placeholder.min.js') }}"></script>
<script src="{{ static('index/js/app.js') }}"></script>
<script src="{{ static('index/js/app-custom.js') }}"></script>
<script src="{{ static('index/js/plugins/slick/slick.min.js') }}"></script>
<script src="{{ static('index/js/plugins/chartjs/Chart.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<!-- Page JS Code -->
<script src="{{ static('index/layui/layui/layui.js') }}" media="all"></script>
{% endblock %}
{% block bottom_script %}
<script>
    $(function () {
        // Init page helpers (Slick Slider plugin)
        App.initHelpers('slick');
        $('.adddd').click(function(){
            let ad=`<input type="text" class='input_aa' style='display: block;margin-left:156px'>`;
            if($('.input_aa').val()==''||isNaN($('.input_aa').val())){
                alert('输入的必须是数字')
            }else{
                $('.clones').append(ad)
            }
            console.log(isNaN($('.input_aa').val()));
            console.log($('.input_aa').val());
        })
        $('.sub').click(function(){
            let minus=document.querySelectorAll('.input_aa').length
            minus!=1?$('.clones input:last').remove():''
        })
    });
</script>
{% endblock %}
