<html>
    
<head>
    <title>智能分析平台</title>
</head>


<body>
	<a class="logo">
		<!-- Landkey -->
		<img src="{{ static('/new_index/images/logo3.png') }}" style="margin-left: 450px;"/> 
	</a>
	<div class="helptitle">
		<div class="titletr2">
			<div id="right" class="titletd right">
				<h3 class="t3">极智分析隐私概述</h3>
				<div class="textcenter hover" id="fenxi1">
				    <!--<h3>简介</h3>-->
					<p>在 极智分析，您的信任对我们而言意味着一切。正因如此，我们尊重你的隐私，并使用先进的加密技术来保护它们，更以严格的政策来管理所有数据的隐私安全。</p>
					<!--<h3>安全措施</h3>-->
					<p>安全和隐私是极智分析服务的基础，其包括用户个人信息，包括帐户信息和数据信息。极智分析鼓励所有用户对密码进行定期修改，以及鼓励用户将极智分析上的个人数据进行本地备份，并且可删除极智分析上个人数据。</p>
					<!--<h3>数据保留和删除</h3>-->
					<p>极智分析相信，那些关乎个人信息的事，均属于用户体验范畴，极智分析对于用户体验的极致追求，正是你个人隐私的基本保障。</p>
					<!--<h3>阿里云服务器双重数据备份</h3>-->
					<p>最后，极智分析从未与任何第三方企业，机构等，就任何分析方法或者任何数据达成合作或者潜在意向。极智分析也从未开放过我们的服务器给予第三方，并且永远不会。</p>
					<p>极智分析对保护个人隐私的承诺，源于对用户的尊重。获得你的信任并非易事，也正因如此，极智分析才一如既往地全力以赴，来赢得并保持这份信任。</p>
					<p>如果有涉及到用户隐私相关事宜，欢迎与我们取得联系：extremesmarttech@163.com。</p>
				</div>
			</div>
		</div>
	</div>


<script>
	// seajs.use("./js/login/registered.js", function () {
	// 				$.cookie('user', null, {
	// 					expires: 1,
	// 					path: '/'
	// 				});
	// });
</script>

</body>
<style>
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
}
.t3{
margin-left: 400px;
font-size: 30px;
}
    
.titletr2 {

    margin: 0 auto;
    width: 1000px;
    padding: 120px 100px 80px;
    h3 {
        margin: 0 auto;
        text-align: center;
        width: 375px;
        height: 28px;
        font-size: 18px;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        line-height: 28px;
        color: #333333;
    }


</style>

</html>


