<html>
    
<head>
    <title>智能分析平台</title>
</head>


<body>
	<a class="logo">
		<!-- Landkey -->
		<img src="{{ static('/new_index/images/logo3.png') }}" style="margin-left: 450px;"/> 
	</a>
	<div class="helptitle">
		<div class="titletr2">
			<div id="right" class="titletd right">
				<h3 class="t3">极智分析安全概述</h3>
				<div class="textcenter hover" id="fenxi1">
				    <h3>简介</h3>
					<p>极智分析深受广大用户的信任，将数据存储在极智分析，这已经是对于我们最大的信任。用户的信任源于我们对数据隐私和安全的保护。此概述之目的在于向用户阐述极智分析如何保护数据。极智分析会在提高安全能力及升级产品安全性能的同时，持续更新此概述之内容。</p>
					<h3>安全措施</h3>
					<p>极智分析任用了最专业的软件开发工程师，确保你存储在极智分析中的所有数据的安全性。软件工程师通过数据备份机制，以及数据加密机制，对用户个人信息和数据进行加密保存，并且进行定期监控极智分析网站运行，最大化减少各类潜在网络攻击和异常事件发生。极智分析开发人员拥有可以随时应对安全问题的程序和工具，并不断革新技术，提高针对各类潜在网络黑客入侵行为的侦测能力。</p>
					<h3>数据保留和删除</h3>
					<p>极智分析保留你的数据资料，除非你采取了明确的删除操作。你可进入相关页面删除极智分析保存的数据资料。</p>
					<h3>阿里云服务器双重数据备份</h3>
					<p>极智分析从一开始就将用户数据安全置于首位，极智分析使用阿里云服务器及相关安全服务套餐，极智分析使用阿里云数据库系统进行数据双重备份，以保障不可预见事件带来的灾难。</p>
					<p>如果有涉及到安全相关事宜，欢迎与我们取得联系：extremesmarttech@163.com。</p>
				</div>
			</div>
		</div>
	</div>


<script>
	// seajs.use("./js/login/registered.js", function () {
	// 				$.cookie('user', null, {
	// 					expires: 1,
	// 					path: '/'
	// 				});
	// });
</script>

</body>
<style>
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
}
.t3{
margin-left: 400px;
font-size: 30px;
}
    
.titletr2 {

    margin: 0 auto;
    width: 1000px;
    padding: 120px 100px 80px;
    h3 {
        margin: 0 auto;
        text-align: center;
        width: 375px;
        height: 28px;
        font-size: 18px;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        line-height: 28px;
        color: #333333;
    }


</style>

</html>


