{% extends 'index/base.html' %}
{% block title %}
相关性分析
{% endblock %}
{% block top_link %}
<link rel="stylesheet" id="css-app-custom" href="{{ static('index/css/s_border.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_header.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_common.css') }}" />
{% endblock %}
{% block top_style %}
<style>
    .transfer-single{
        display: none;
    }
    .transfer-right .transfer-checkbox{
        margin-top: 0;
    }
    .transfer-right .transfer-checkbox .transfer-checkbox-ul{
        height: 489px
    }
    .transfer-much{
        display: none;
    }
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        cursor: pointer;
        position: relative;
    }
    #z-nav>li>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav>li>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #z-nav:nth-child(2)>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #header-navbar-collapse {
        position: relative;
    }
    #rightmodel>h1 {
        text-align: center;
        font-size: 24px;
    }
    .click-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 7%;
        padding-bottom: 10px;
        width: 100%;
    }
    .finnally-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 3%;
        width: 100%;
    }
    .app-layout-canvas,
    .app-layout-container {
        height: 100%;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .opacity {
        opacity: 0.2;
    }
    /* 高级分析 */
    .gj-checkout {
        width: 100%;
        margin: 61px 64px;
        box-shadow: 0px 3px 20px 0px rgba(183, 182, 182, 0.6);
        padding: 25px;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
    }
    .gj-checkout img{
        height: auto;
        max-width: 100%;
        display: block;
    }
    #middle-table .table-common{
        width: 100%;
        margin: 30px 20px 30px 20px;
    }
    .xgx_input{
       text-align: center;
       margin-top: 20px;
       display: none;
    }
    #xgx_input{
        width: 200px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        text-indent: 1em;
        background-color: #fff;
    }
    @media screen and (max-width:1400px) {
        .table-iu .table-common-tr tr>td{
            width: 54px;
        }
    }

    
    .select-input{
        text-align: center;
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block main %}
<main class="app-layout-content">
    <div id="rightmodel">
        <h1>选择要分析的列名</h1>
        
    {% endblock %}
    
    {% block main03 %}


        <div class="single_radio" id="single_radio_first">
            <ul>
                <li>
                    <input type="radio"  name="Radio" id="pearsonRadio" class="pearsonradio" value="pearson" checked="true">
                    <label for="pearsonRadio">pearson</label>
                </li>
                <li>
                 
                 <input type="radio" name="Radio" id="kendallRadio" class="kendallradio" value="kendall">
                 <label for="kendallRadio">kendall</label>
                </li>
                <li>
                    
                    <input type="radio" name="Radio" id="spearmanRadio" class="spearmanradio" value="spearman">
                    <label for="spearmanRadio">spearman</label>
                   </li>
            </ul>
        </div>
        <div class="single_radio" id="single_radio_scond">
            <ul>
                <li>
                    
                    <input type="radio"  name="Radio1" id="heatmapRadio" class="heatmapradio" value="heatmap" checked="true">
                    <label for="heatmapRadio">热力图</label>
                </li>
                <li>
                 
                 <input type="radio" name="Radio1" id="clustermapRadio" class="clustermapradio" value="clustermap">
                 <label for="clustermapRadio">簇状图</label>
                </li>
                <li>
                    
                    <input type="radio" name="Radio1" id="pairplotRadio" class="pairplotradio" value="pairplot">
                    <label for="pairplotRadio">多变量图</label>
                </li>
            </ul>
        </div>
        <div class="select-input">
            <span>图片风格：</span>
            <select name="" id="cmap_style" class="select" style="width:200px;
            height: 35px;
            outline: none;
            border: 1px solid #dddd;
            text-indent: 1em;">
                <option value="" selected>默认</option>
                <option value="coolwarm">coolwarm</option>
                <option value="YlGnBu">YlGnBu</option>
                <option value="RdBu_r">RdBu_r</option>
                <option value="greys">greys</option>
            </select>
        </div>
            <input type="hidden" name="xgxjy" value="">
    <!-- 分析成功 -->
    {% endblock %}
    {% block main04 %}
    <div id="middle-table">
    {% endblock %}
    {% block description %}
相关性分析:用于研究定量数据之间的关系情况，是回归分析的必要条件。Pearson:用于双变量正态分布的资料;Spearman：用于不符合双变量正态分布的样本资料,kendall:用于计算的对象是分类变量。相关性支持热图、簇状图、多变量图三种图片格式，同时提供了多种图片风格。
    {% endblock %}
    {% block mian02 %}
    </div>
</main>
{% endblock %}
{% block js_center %}
<script src="{{ static('index/js/core/jquery.min.js') }}"></script>
<script src="{{ static('index/js/core/bootstrap.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.slimscroll.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.scrollLock.min.js') }}"></script>
<!--图标调用-->
<script src="{{ static('./js/iconfot.js') }}"></script>
<script src="{{ static('index/js/core/jquery.placeholder.min.js') }}"></script>
<script src="{{ static('index/js/app.js') }}"></script>
<script src="{{ static('index/js/app-custom.js') }}"></script>
<script src="{{ static('index/js/plugins/slick/slick.min.js') }}"></script>
<script src="{{ static('index/js/plugins/chartjs/Chart.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<!-- Page JS Code -->
<script src="{{ static('index/layui/layui/layui.js') }}" media="all"></script>
{% endblock %}
{% block bottom_script %}
<script>
    $(function () {
        // Init page helpers (Slick Slider plugin)
        App.initHelpers('slick');
    });
</script>
<script>
    var arr = [];
    var hue = [];
    var spanText;
    function upload() {
         arr = [];
         hue = [];
        var normalityId = $('#begin').attr('name');
        // 要传的项目id normalityId
        // alert(normalityId)
        // alert(111111111111111)
        var normalityName = $('#transfer-right .transfer-data li .transfer-form-checkbox').find('span').text();
        // normalityName 单选里的列名
        // alert(normalityName)
        // alert(222222222222222)
        var normalityType = $('.click-button').find('.opacity').index();
        // 获取到用户要求的原始数据还是最新数据
        // alert(normalityType)
        // alert(3333333333333333)
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
        // console.log(normalityName);
        // 多选
        // var serect = $("#select-box_right .select-content .selected-ul li").find('span').text().join(',');
        for (var i = 0; i < $("#check1 li").length; i++) {
            spanText = $("#check1 li").eq(i).text().slice(0,-1);
            arr.push(spanText);
        }
        for (var i = 0; i < $("#check2 li").length; i++) {
            spanText2 = $("#check2 li").eq(i).text().slice(0,-1);
            hue.push(spanText2);
        }
        // console.log(arr);
        // 获取 input框 数字数据
        //var num = $("#input_f").val();
        var num = $("#s1 option:selected").text();
        var num1 = $("#s2 option:selected").text();
        // alert(num)
        // alert(55555555555555555)
        // 赋值
        var pram = {
            name: normalityName,
            number: normalityType,
            arr: arr,
            hue:hue,
            cor_method: num,
            plot_method: num1,
            csrfmiddlewaretoken: csrfmiddlewaretoken,
        };
        // console.log($("#s1 option:selected").text(),$("#s2 option:selected").text())
        //return false
        $.ajax({
            url: '/xgx/' + normalityId + '/' + normalityType + "/",
            type: 'POST',
            dataType: 'json',
            contentType: "application/json",
            cache: false,
            headers: { 'X-CSRFToken': csrfmiddlewaretoken },
            // 将 JavaScript 值转换为 JSON 字符串 保存在data数据里面
            data: JSON.stringify(pram),
            // data:pram,
            success: function (response) {
                // console.log(JSON.stringify(pram))
                arr.splice(0);
                alert(response.error)
                // 把project 赋值给 结果保存按钮的name属性
                // alert(response.context.project)
                $('#save-jg').attr('name', response.context.project)
                $("#middle-table").html('<div><img src="' + response.context.img + '" width=700 height=500></img></div>')
            },
            error: function (error) {
                // console.log(response.error);
                // console.log(error.error);
                // alert(error);
                arr.splice(0);
                alert(error.error);
            }
        })
    }
    // 结果保存 
    function f_save() {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
        var project_id = $('#save-jg').attr('name');
        var param = {
            'project': project_id,
            'csrfmiddlewaretoken': csrfmiddlewaretoken,
        };
        $.ajax({
            url: '/save_data/',
            type: "POST",
            dataType: 'json',
            contentType: "application/json",
            cache: false,
            headers: {
                'X-CSRFToken': csrfmiddlewaretoken
            },
            data: JSON.stringify(param),
            success: function (data) {
                alert(data.error);
                console.log(data)
            }, error: function (errorMsg) {
                //请求失败之后进入该方法，errorMsg为失败后返回的错误信息
                console.log(errorMsg)
            }
        });
    }
   //数据穿梭框
    $(document).ready(function () {
        $('.click-button .layui-btn-radius').eq(0).addClass('opacity');
    })
    $('.click-button').find('button').click(function () {
        $(this).addClass('opacity').siblings().removeClass('opacity');
    })
    $('.select-transfer .transfer-box-left .transfer-data').on('click', 'li', function () {
        var siblingChild = false;
        $(this).children('.transfer-form-checkbox').toggleClass('transfer-form-check');
        if ($(this).children('.transfer-form-checkbox').hasClass('transfer-form-check') == true) {
            siblingChild = true;
        }
        if ($(this).children('.transfer-form-checkbox').hasClass('transfer-form-check') == false) {
            siblingChild = false;
        }
        if (siblingChild) {
            $(this).siblings('li').addClass('disabled');
        } else {
            $(this).siblings('li').removeClass('disabled');
        }
        btnStatus();
    })
    // 动态判断改变btn状态
    function btnStatus() {
        var leftBtn = false;
        var rightBtn = false;
        for (var i = 0; i < $('.select-transfer .transfer-box-left .transfer-data li').length; i++) {
            if ($('.select-transfer #transfer-left .transfer-data li').eq(i).find('.transfer-form-checkbox').hasClass('transfer-form-check')) {
                rightBtn = true;
            }
            if ($('.select-transfer #transfer-right .transfer-data li').eq(i).find('.transfer-form-checkbox').hasClass('transfer-form-check')) {
                leftBtn = true;
            }
        }
        if (rightBtn) {
            $('.right-button').addClass('green');
            $('.right-button').removeClass('disabled');
        } else {
            $('.right-button').removeClass('green');
            $('.right-button').addClass('disabled');
        }
        if (leftBtn) {
            $('.left-button').addClass('green');
            $('.left-button').removeClass('disabled');
        } else {
            $('.left-button').removeClass('green');
            $('.left-button').addClass('disabled');
        }
    }
    //左右移按钮点击事件
    $('.button-accrow').click(function () {
        var orgin = ''; var target = ''; var checkLi = ''; var num = false; var cancelLi = '';
        if ($(this).hasClass('right-button')) {
            orgin = $('#transfer-left .transfer-data');
            target = $('#transfer-right .transfer-data');
        } else {
            orgin = $('#transfer-right .transfer-data');
            target = $('#transfer-left .transfer-data');
            num = true;
        }
        checkLi = orgin.find('li'); cancelLi = target.find('li');
        for (var i = 0; i < checkLi.length; i++) {
            if ($(checkLi[i]).find('.transfer-form-checkbox').hasClass('transfer-form-check')) {
                var that = $(checkLi[i]).clone();
                that.children('.transfer-form-checkbox').removeClass('transfer-form-check');
                target.append(that);
                $(checkLi[i]).remove();
            }
        }
        if (num) {
            for (var i = 0; i < cancelLi.length; i++) {
                $(cancelLi[i]).removeClass('disabled');
            }
            orgin.append("<p class='transfer-none'>无数据</p>");
        } else {
            target.find('p').remove();
        }
        btnStatus();
    })
    //搜索框检索事件
    $('.select-transfer #transfer-left .transfer-search').find('.transfer-input').on('input', function (e) {
        var inputVal = e.delegateTarget.value;
        $('.select-transfer .transfer-box-left .transfer-data').find('li').each(function () {
            $(this).hide();
            if ($(this).find('.transfer-form-checkbox').find('span').text().indexOf($.trim(inputVal)) >= 0) {
                $(this).show();
            }
        })
    })
</script>
{% endblock %}
