{% extends 'index/base.html' %}
{% block title %}
线性回归
{% endblock %}
{% block top_link %}
<link rel="stylesheet" id="css-app-custom" href="{{ static('index/css/s_border.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_header.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_common.css') }}" />
{% endblock %}
{% block top_style %}
<style>
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        cursor: pointer;
        position: relative;
    }
    #z-nav>li>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav>li>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #z-nav:nth-child(2)>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #header-navbar-collapse {
        position: relative;
    }
    #rightmodel>h1 {
        text-align: center;
        font-size: 24px;
    }
    .click-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 7%;
        padding-bottom: 10px;
        width: 100%;
    }
    .finnally-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 3%;
        width: 100%;
    }
    .app-layout-canvas,
    .app-layout-container {
        height: 100%;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .opacity {
        opacity: 0.2;
    }
    /* 高级分析 */
    .gj-checkout {
        width: 100%;
        margin: 61px 64px;
        box-shadow: 0px 3px 20px 0px rgba(183, 182, 182, 0.6);
        padding: 25px;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
    }
    .gj-checkout img{
        height: auto;
        max-width: 100%;
        display: block;
    }
    #middle-table .table-common{
        width: 100%;
        margin: 30px 64px 30px 64px;
    }
    .xgx_input{
       text-align: center;
       margin-top: 20px;
       display: none;
    }
    #xgx_input{
        width: 200px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        text-indent: 1em;
        background-color: #fff;
    }
     .select-options{
        text-align: center;
        margin-top: 10px;
    }
    .select-options select{
        width: 200px;
        height: 35px;
        outline: none;
        border: 1px solid #dddd;
        text-indent: 1em;
    }
    @media screen and (max-width:1400px) {
        .table-iu .table-common-tr tr>td{
            width: 54px;
        }
    }

    
</style>
{% endblock %}
{% block main %}
<main class="app-layout-content">
    <div id="rightmodel">
        <h1>选择要分析的列名</h1>
        
    {% endblock %}
    
    {% block main03 %}
    <!--<div class="single_radio" id="log_radio">-->
    <!--    <ul>-->
    <!--        <li>-->
    <!--            <input type="radio"  name="Radio3" id="forwardRadio" class="forwardRadio" value="forward" checked="true">-->
    <!--            <label for="forwardRadio">forward</label>-->
                
    <!--        </li>-->
    <!--        <li>-->
    <!--            <input type="radio" name="Radio3" id="backwardRadio" class="backwardRadio" value="backward">-->
    <!--         <label for="backwardRadio">backward</label>-->
             
    <!--        </li>-->
    <!--        <li>-->
    <!--            <input type="radio" name="Radio3" id="allRadio" class="allRadio" value="all">-->
    <!--            <label for="allRadio">all</label>-->
                
    <!--        </li>-->
    <!--        <li>-->
    <!--            <input type="radio" name="Radio3" id="stepwiseRadio" class="stepwiseRadio" value="stepwise">-->
    <!--            <label for="stepwiseRadio">stepwise</label>-->
                
    <!--        </li>-->
    <!--    </ul>-->
    <!--</div>-->
    <div class="select-options">
        <span>逐步回归方法：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <select name="xxhg_select" id="xxhg_select">
            <option value="all">all</option>
            <option value="forward">forward</option>
            <option value="backward">backward</option>
            <option value="both">stepwise</option>
        </select>
    </div>
    <!--<div  class="single_radio">-->
    <!--    <ul>-->
    <!--        <li>-->
    <!--            <input type="radio" name="wireBack" id="" class="backwardRadio" value="lm" checked="true">-->
    <!--         <label for="wireBack">线性回归</label>-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <input type="radio" name="wireBack" id="" class="backwardRadio" value="rlm">-->
    <!--         <label for="steadyBack">稳健线性回归</label>-->
    <!--        </li>-->
    <!--    </ul>-->
    <!--</div>-->
    <div class="select-options">
        <span>回归模型：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <select name="xxhg_select" id="xxhg_select">
            <option value="lm">线性回归</option>
            <!--<option value="rlm">稳健线性回归</option>-->
        </select>
        </div>
    <!-- <div>
        <select name="" id="" multiple style="margin-top: 20px;margin-left: 50%;">
            <option value="continuous_independent_variables">1号</option>
            <option value="categorical_independent_variables">2号</option>
            <option value="interaction_effects_variables">3号</option>
        </select>
    </div> -->
        <input type="hidden" name="xxhg" value="">
    <!-- 分析成功 -->
    {% endblock %}
    {% block main04 %}
    <div id="middle-table">
    {% endblock %}
    {% block description %}
线性回归分析用于研究自变量X对于应变量Y的影响，自变量X可以使定量变量或是定类变量（如果X为定类数据可以设置参考标签），Y为定量数据。线性回归分析，首先分析p 值，如果此值小于0.05，说明具有影响关系；分析会给出自变量的系数以及Beta值：分析同时会计算模型的残差图。
    {% endblock %}
    {% block mian02 %}
    </div>
</main>
{% endblock %}
{% block js_center %}
<script src="{{ static('index/js/core/jquery.min.js') }}"></script>
<script src="{{ static('index/js/core/bootstrap.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.slimscroll.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.scrollLock.min.js') }}"></script>
<!--图标调用-->
<script src="{{ static('./js/iconfot.js') }}"></script>
<script src="{{ static('index/js/core/jquery.placeholder.min.js') }}"></script>
<script src="{{ static('index/js/app.js') }}"></script>
<script src="{{ static('index/js/app-custom.js') }}"></script>
<script src="{{ static('index/js/plugins/slick/slick.min.js') }}"></script>
<script src="{{ static('index/js/plugins/chartjs/Chart.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<!-- Page JS Code -->
<script src="{{ static('index/layui/layui/layui.js') }}" media="all"></script>
{% endblock %}
{% block bottom_script %}
<script>
    $(function () {
        // Init page helpers (Slick Slider plugin)
        App.initHelpers('slick');
    });
</script>
{% endblock %}
