{% extends 'index/base.html' %}
{% block title %}
重要度排序
{% endblock %}
{% block top_link %}
<link rel="stylesheet" id="css-app-custom" href="{{ static('index/css/s_border.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_header.css') }}" />
<link rel="stylesheet" id="css-app-heder" href="{{ static('index/css/common_common.css') }}" />
{% endblock %}
{% block top_style %}
<style>
    * {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        cursor: pointer;
        position: relative;
    }
    #z-nav>li>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav>li>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav>li>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #z-nav:nth-child(2)>ul.nav-subnav {
        font-size: 0;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li {
        width: 48%;
        display: inline-block;
        text-align: center;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li:hover a {
        background: #03a9f4;
        color: #fff;
        border: 1px solid #03a9f4;
    }
    #z-nav:nth-child(2)>ul.nav-subnav li a {
        padding: 6px 8px;
        box-sizing: border-box;
        font-size: 12px;
        border: 1px solid #ccc;
        margin: 0 5px 12px;
        border-radius: 10px;
    }
    #header-navbar-collapse {
        position: relative;
    }
    #rightmodel>h1 {
        text-align: center;
        font-size: 24px;
    }
    .click-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 7%;
        padding-bottom: 10px;
        width: 100%;
    }
    .finnally-button {
        margin-top: 24px;
        text-align: center;
        position: absolute;
        bottom: 3%;
        width: 100%;
    }
    .app-layout-canvas,
    .app-layout-container {
        height: 100%;
    }
    .navbar {
        display: flex;
        align-items: center;
    }
    .opacity {
        opacity: 0.2;
    }
    /* 高级分析 */
    .gj-checkout {
        width: 100%;
        margin: 61px 64px;
        box-shadow: 0px 3px 20px 0px rgba(183, 182, 182, 0.6);
        padding: 25px;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
    }
    .gj-checkout img{
        height: auto;
        max-width: 100%;
        display: block;
    }
    #middle-table .table-common{
        width: 100%;
        margin: 30px 64px 30px 64px;
    }
    .zyd_input{
       text-align: center;
       margin-top: 20px;
    }
    .zyd_input span{
        margin-right: 10px;
    }
    #zyd_input{
        width: 133px;
        height: 35px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        text-indent: 1em;
        background-color: #fff;
    }
    @media screen and (max-width:1400px) {
        .table-iu .table-common-tr tr>td{
            width: 54px;
        }
    }

    
</style>
{% endblock %}
{% block main %}
<main class="app-layout-content">
    <div id="rightmodel">
        <h1>选择要分析的列名</h1>
        
    {% endblock %}
    
    {% block main03 %}

    <!--<div class="single_radio" id="zydpx_radio">-->
    <!--    <ul>-->
    <!--        <span>模型:</span>-->
    <!--        <li>-->
    <!--            <label style="font-size: 14px;-->
    <!--            margin-left: 0px;" for="lassoRadio">lasso模型</label>-->
    <!--            <input type="radio"  name="Radio4" id="lassoRadio" class="lassoRadio" value="lasso">-->
    <!--        </li>-->
    <!--        <li>-->
    <!--         <label style="font-size: 14px;-->
    <!--         margin-left: 0px;" for="xgboostRadio">xgboost模型</label>-->
    <!--         <input type="radio" name="Radio4" id="xgboostRadio" class="xgboostRadio" value="xgboost">-->
    <!--        </li>-->
    <!--        <li>-->
    <!--            <label style="font-size: 14px;-->
    <!--            margin-left: 0px;" for="lgxRadio">岭回归模型</label>-->
    <!--            <input type="radio" name="Radio4" id="lgxRadio" class="xgboostRadio" value="xgboost">-->
    <!--        </li>-->
    <!--    </ul>-->
    <!--</div>-->
    
    <div class="message-decimals" style="    margin-left: 55px;    margin-top: 10px; height:auto">
    <label for="digit">模型:</label>&nbsp;&nbsp;&nbsp;
                                        <select name="digit" id="zydpx_select" style="width: 100px;
	height: 35px;
	outline: none;
	border: 1px solid #dddd;
	text-indent: 1em;">
                                            <option value ="1">回归</option>
                                            <option value ="2">分类</option>
                                          </select>
                                          
                                          <select name="digit" id="model_select" style="width: 130px;
	height: 35px;
	outline: none;
	border: 1px solid #dddd;
	text-indent: 1em;
	margin-left:20px">
                                            <option value ="1">Lasso回归模型</option>
                                            <option value ="2" >岭回归模型</option>
                                            <option value ="3">XGBoost回归模型</option>
                                            <option value ="4">随机森林回归模型</option>
                                            <option value ="5">AdaBoost回归模型</option>
                                            <option value ="6" style="display:none">Logistic分类模型</option>
                                            <option value ="7" style="display:none">XGBoost分类模型</option>
                                            <option value ="8" style="display:none">随机森林分类模型</option>
                                            <option value ="9" style="display:none">AdaBoost分类模型</option>
                                            
                                            
                                          </select>
</div>

    <div class="zyd_input">
        <span>图表中展示的特征数量:</span>
        <input type="text" id="zyd_input"  placeholder="请输入数字" value="10" onkeyup="value=value.replace(/[^\0-9\.]/g,'')" >
    </div>
    <div class="zyd_input" style="display:flex;align-items:center;justify-content: center;">
        <span>是否先对数据进行标准化处理:</span>
        <input type="radio" style="margin:0 10px" name="standardization" value="true" >是
        <input type="radio" style="margin:0 10px" name="standardization" value="false" checked="checked">否
    </div>
    <div class="zyd_input" style="display:flex;align-items:center;justify-content: center;">
        <span>是否进行自动寻参:</span>
        <input type="radio" style="margin:0 10px" name="searching" value="true" >是
        <input type="radio" style="margin:0 10px" name="searching" value="false" checked="checked">否
    </div>
    <!-- 分析成功 -->
    {% endblock %}
    {% block main04 %}
    <div id="middle-table">
    {% endblock %}
    {% block description %}
重要度排序：在一般预测类问题中，变量重要度排序在数据集分析和变量取舍等方面都可以发挥作用。传统的重要度排序主要分为两大类：基于模型系数的重要度分析和基于模型表现的重要度分析（例如：基于单变量数值置换的重要度分析），平台当前使用了第一大类基于模型系数的重要度分析。目前包括了三种基底模型，分别是：1. Lasso regression（岭回归）；2. Rigde regression；3. XGBoost Classifier。其中前两者适用于对回归型问题的变量重要性分析，XGBoost则适用于对分类型问题的分析。研究者可以通过观察分析得到的变量重要性对自变量进行筛选，并应用于随后的正式建模中。
    {% endblock %}
    {% block mian02 %}
    </div>
</main>
{% endblock %}
{% block js_center %}
<script src="{{ static('index/js/core/jquery.min.js') }}"></script>
<script src="{{ static('index/js/core/bootstrap.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.slimscroll.min.js') }}"></script>
<script src="{{ static('index/js/core/jquery.scrollLock.min.js') }}"></script>
<!--图标调用-->
<script src="{{ static('./js/iconfot.js') }}"></script>
<script src="{{ static('index/js/core/jquery.placeholder.min.js') }}"></script>
<script src="{{ static('index/js/app.js') }}"></script>
<script src="{{ static('index/js/app-custom.js') }}"></script>
<script src="{{ static('index/js/plugins/slick/slick.min.js') }}"></script>
<script src="{{ static('index/js/plugins/chartjs/Chart.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ static('index/js/plugins/flot/jquery.flot.stack.min.js') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<script src="{{ static('index/img/avatars/avatar3.jpg') }}"></script>
<!-- Page JS Code -->
<script src="{{ static('index/layui/layui/layui.js') }}" media="all"></script>
{% endblock %}
{% block bottom_script %}
<script>
    $(function () {
        // Init page helpers (Slick Slider plugin)
        App.initHelpers('slick');
    });
</script>
{% endblock %}
