<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        后台管理系统
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
<!--    <link rel="stylesheet" id="css-app-custom" href="{{ static('index/layui/layui//css/layui.css') }}"/>-->
    <link rel="stylesheet" href="{{ static('admin/css/x-admin.css') }}" media="all">

    <style>
        #pagination {
            display: flex;
            justify-content: center;

        }
        .ui-pagination-container {
            overflow: hidden;
        }
        .ui-pagination-container a {
            padding: 8px 14px;
            margin: 2px;
            display: block;
            float: left;
            text-align: center;
            line-height: 20px;
        }
        .ui-pagination-container a:hover {
            background-color: #3eb8e9;
            color: white;
            font-weight: 700;
        }
    </style>
</head>
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>管理员管理</cite></a>
              <a><cite>用户角色配置</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon"
                                                                        style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-form-pane" style="margin-top: 15px;">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input"
                       id="username">
            </div>
            <div class="layui-input-inline" style="width:80px">
                {{ csrf_input }}
                <button class="layui-btn" onclick="queryByPage(1)"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </div>
    </div>
</div>
<!--            <xblock><span class="x-right" style="line-height:40px">共有数据：{{length}} 条</span></xblock>-->
{%raw%}
<main class="main" id="main">
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                登录名
            </th>
            <th>
                手机
            </th>
            <th>
                角色
            </th>
            <th>
                状态
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody id="replace">

        <tr v-for="item in item_list">
            <td>
                {{item.ID}}
            </td>
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.mobile}}
            </td>
            <td>
                            <span v-if="item.super_u==1" class="layui-btn layui-btn-normal layui-btn-mini">
                                超级管理员
                            </span>
                <span v-else="item.super_u==0" class="layui-btn layui-btn-normal layui-btn-mini">
                                普通用户
                            </span>

            </td>

            <td class="td-status">
                                <span v-if="item.is_active" class="layui-btn layui-btn-normal layui-btn-mini">
                                已启用
                            </span>
                <span v-else="!item.is_active" class="layui-btn layui-btn-normal layui-btn-mini">
                                已禁用
                            </span>
            </td>
            <td class="td-manage">
                <a title="编辑" style="text-decoration:none"
                   @click="x_admin_show('编辑','/admin/Administrator/Administrator_userRoleEdit/'+item.ID+'/','600','400')">

                    <i class="layui-icon">&#xe642;</i>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
                <div class="pagenation">
                <div id="pagination" class="page clear"></div>
            </div>
</main>
{% endraw %}
<script src="{{ static('index/js/core/jquery.min.js') }}"></script>
<script src="{{ static('admin/js/jquery.pagination.min.js') }}"></script>
<script src="{{ static('admin/lib/layui/layui.js') }}" charset="utf-8"></script>
<script src="{{ static('admin/js/x-layui.js') }}"></script>
<script src="{{ static('index/js/vue/vue.js') }}"></script>
<script>
    layui.use(['element', 'layer'], function () {
        $ = layui.jquery;//jquery
        lement = layui.element();//面包导航
        layer = layui.layer;//弹出层}
    })
    function queryByPage(current) {
        var username = document.getElementById('username').value;
        $.ajax({
            url: '/admin/Administrator/Administrator_userRoleList/',
            type: 'POST',
            beforeSend: function (xml) {
                // xml.setRequestHeader('X-CSRFToken', csrf);
            },
            data: JSON.stringify({
                "page": current,
                "username": username
            }),
            success: function (result) {
                if (result.code == 200) {
                    MAIN.item_list = result.context.info
                    $('#pagination').pagination({
                        currentPage: result.context.page_num,
                        totalPage: result.context.total_page,
                        callback: function (current) {
                            queryByPage(current)
                        }
                    })
                } else if (result.code == 1008) {
                    alert("用户不存在,请重新输入")
                }
            }
        })
    }

    var MAIN = new Vue({
        el: '#main',
        data: {
            item_list: [],
        },
        methods: {
            x_admin_show: function (title, url, w, h) {
                x_admin_show(title, url, w, h)
            }
        },
        created() {
            var csrf = $('input[name=csrfmiddlewaretoken]').val()
            var username = document.getElementById('username').value;
            $.ajax({
                url: '/admin/Administrator/Administrator_userRoleList/',
                type: 'POST',
                beforeSend: function (xml) {
                    xml.setRequestHeader('X-CSRFToken', csrf);
                },
                data: JSON.stringify({
                    "page": 1,
                    "username": username
                }),
                success: function (result) {
                    MAIN.item_list = result.context.info
                    $('#pagination').pagination({
                        currentPage: result.context.page_num,
                        totalPage: result.context.total_page,
                        callback: function (current) {
                            queryByPage(current)
                        }
                    })
                }
            })
        }
    })
</script>
</body>
</html>
